Practica_4/ServicioRestaurante/ServicioRestaurante/Connected Services/WSESB/ESB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PedidoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion_pedido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRestaurante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRestauranteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoRestauranteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRepartidor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRepartidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoRepartidorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoListoRepartidor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_repartidor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoListoRepartidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoListoRepartidorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoEntregado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nombre_repartidor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoEntregadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoEntregadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PedidoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoCliente" />
  </wsdl:message>
  <wsdl:message name="PedidoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRestauranteSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRestaurante" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRestauranteSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRepartidorSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRepartidor" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRepartidorSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRepartidorResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoListoRepartidorSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoListoRepartidor" />
  </wsdl:message>
  <wsdl:message name="PedidoListoRepartidorSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoListoRepartidorResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoEntregadoSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoEntregado" />
  </wsdl:message>
  <wsdl:message name="PedidoEntregadoSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoEntregadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ESBSoap">
    <wsdl:operation name="PedidoCliente">
      <wsdl:input message="tns:PedidoClienteSoapIn" />
      <wsdl:output message="tns:PedidoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <wsdl:input message="tns:EstadoPedidoRestauranteSoapIn" />
      <wsdl:output message="tns:EstadoPedidoRestauranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <wsdl:input message="tns:EstadoPedidoRepartidorSoapIn" />
      <wsdl:output message="tns:EstadoPedidoRepartidorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <wsdl:input message="tns:PedidoListoRepartidorSoapIn" />
      <wsdl:output message="tns:PedidoListoRepartidorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <wsdl:input message="tns:PedidoEntregadoSoapIn" />
      <wsdl:output message="tns:PedidoEntregadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESBSoap" type="tns:ESBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PedidoCliente">
      <soap:operation soapAction="http://tempuri.org/PedidoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoRepartidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <soap:operation soapAction="http://tempuri.org/PedidoListoRepartidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <soap:operation soapAction="http://tempuri.org/PedidoEntregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ESBSoap12" type="tns:ESBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PedidoCliente">
      <soap12:operation soapAction="http://tempuri.org/PedidoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoRepartidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <soap12:operation soapAction="http://tempuri.org/PedidoListoRepartidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <soap12:operation soapAction="http://tempuri.org/PedidoEntregado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESB">
    <wsdl:port name="ESBSoap" binding="tns:ESBSoap">
      <soap:address location="http://localhost:54869/ESB.asmx" />
    </wsdl:port>
    <wsdl:port name="ESBSoap12" binding="tns:ESBSoap12">
      <soap12:address location="http://localhost:54869/ESB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>